.navigation{
    padding: 1rem;
    justify-content: space-between;
    gap: 2rem;
    box-shadow: 1px 1px 7px 3px rgb(128 128 128 / 20%);
}

.nav-brand-link{
    font-size: 3rem;
    font-weight: 900;
    color: var(--SECONDARY-COLOR);
}

.brand-text{
    font-family: 'Merienda One', cursive;
}

.nav .form-input{
    display: inline-block;
}

.nav-searchbar-res{
    padding: 1rem;
}

.nav-link{
    color: var(--PRIMARY-COLOR);
    font-weight: 500;
    transition: 0.3s ease-in-out;
}

.nav-link:hover{
    color: var(--SECONDARY-COLOR);
}

@media only screen and (max-width: 768px){

    .nav-link{
        margin-right: 1rem;
    }

    .nav-searchbar{
        display: none;
    }

    .nav-searchbar-res{
        display: block;
        margin: 0 auto;
    }

    .nav-search{
        display: none;
    }

    .nav-searchbar-res > input{
        transition: 0.3s ease;
    }

    .nav-searchbar-res > input:focus{
        width: 100%;
    }
    
}

@media only screen and (max-width: 500px) {
    html{
        font-size: 50%;
    }

    ul .nav-link{
        display: none;
    }

    .mobile-view{
        display: block;
    }
}