.slider-enabled > input{
    appearance: none;
    background-color: var(--SECONDARY-COLOR);
    border-radius: 10px;
    width: 200px; 
    height: 8px;
}

.slider-disabled > input{
    width: 200px;
}

.slider-disabled > i {
    color: var(--SIDE-NAVBAR-COLOR)
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--BACKGROUND-COLOR);
    margin-top: -2px;
    box-shadow: 1px 1px 1px var(--PRIMARY-COLOR), 0px 0px 1px var(--PRIMARY-COLOR); 
}