:root{
    --INPUT-BOX-SHADOW-COLOR: #12121280;
}

.error-style {
    color: var(--DANGER-COLOR);
}

.form{
    width: 100%;
    max-width: 50rem;
    border: thin solid var(--PRIMARY-COLOR);
    padding: 2rem;
    box-shadow: 0px 1px 10px 1px var(--INPUT-BOX-SHADOW-COLOR);
    border-radius: 5px;
}

.form > label{
    display: inline-block;
}

.form > *{
    margin-bottom: 1rem;
}

.form-input{
    display: block;
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid gray;
}

.error-border {
    border: 2px solid var(--DANGER-COLOR);
}

.form-input:focus {
    outline: none;
    border: 2px solid var(--SECONDARY-COLOR);
    box-shadow: 0px 1px 5px 1px var(--INPUT-BOX-SHADOW-COLOR);
}

.textarea{
    width: 50%;
}

.textarea:focus{
    outline: none;
    border: 2px solid var(--SECONDARY-COLOR);
    box-shadow: 0px 1px 5px 1px var(--INPUT-BOX-SHADOW-COLOR);
}