.primary-text{
    color: var(--PRIMARY-COLOR);
}

.secondary-text{
    color: var(--SECONDARY-COLOR);
}

.warning-text{
    color: var(--WARNING-COLOR);
}

.danger-text{
    color: var(--DANGER-COLOR);
}

.info-text{
    color: var(--INFO-COLOR);
}

.success-text{
    color: var(--SUCCESS-COLOR);
}

.text-align-left{
    text-align: left;
}

.text-align-center{
    text-align: center;
}

.text-align-right{
    text-align: right;
}